<a href="https://colab.research.google.com/github/rosebcano/STAT-Homework-Uploads/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
n = 0
while n < 10:
  print(n)
  if n>=4:
    break
  n += 1

0
1
2
3
4

In [22]:
n=0
while n<5:
  print(n)
  n += 1
else:
  print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

In [32]:
fruits = {"banana", "orange", "grape", "apple"}
for fruit in fruits:
  print("i like", fruit)
else:
  print("apple is really fruit?")

i like banana
i like apple
i like grape
i like orange
apple is really fruit?

In [46]:
#make a list from 1 - 30
list = [*range(1,31,1)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [52]:
def sum_of_list(l):
  total=0
  for val in l:
    total = total + val
  return total

list = [*range(1, 31, 1)]
print(sum_of_list(list))

465

In [57]:
grade = 55

In [58]:
if grade >=90:
  print("A")
elif grade >=80:
  print("B")
elif grade >=70:
  print("C")
elif grade >60:
  print("D")
else:
  print("F")

F

In [2]:
marks = {'Andy':88, 'Amy':66, 'James':90, 'Jules':55, 'Arthur':77}

In [3]:
for student in marks:
  print(student, "has a grade of", marks[student])

Andy has a grade of 88
Amy has a grade of 66
James has a grade of 90
Jules has a grade of 55
Arthur has a grade of 77

In [4]:
grades = marks.values()
mean =sum(grades)/len(grades)
print("Mean equals", mean)
print("Max equals", max(grades))
print("Min equals", min(grades))

Mean equals 75.2
Max equals 90
Min equals 55

In [5]:
for student in marks:
  if 'J' in student:
    break
  print(student)

Andy
Amy

In [9]:
for student in marks:
  if 'J' in student:
    continue
  print(student)

Andy
Amy
Arthur