<a href="https://colab.research.google.com/github/rosebcano/STAT-Homework-Uploads/blob/main/Homework3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
def less_than(num):
  for n in range(num):
    print(n)

less_than(5)

0
1
2
3
4

In [12]:
dict = {}
student_name = 'Andy'
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules':55, 'Arthur':77}
for student in marks:
  if student == student_name:
    print(marks[student])
    break
  else:
    print('Cannot find this students name')

88

In [15]:
import statistics as stats

In [16]:
grades = [88, 66, 90, 55, 77]

In [17]:
stats.mean(grades)

75.2

In [29]:
def printout(num):
  n = 0
  while n < num:
    print(n)
    n ** n
  else:
    print("greater than 8" , num)

  less_greater(8)

In [35]:
n = 1
sum = 0
while n <= 15:
  sum = sum + n
  n = n + 1
print(sum)

120

In [38]:
def range_sum(num):
  sum = 0
  for n in range(num):
    sum = sum + n
  print(sum)

range_sum(16)

120

In [63]:
list = [*range(1,100)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [64]:
print(sum)

120

In [48]:
import statistics

In [49]:
statistics.pstdev(list)

28.577380332470412

In [50]:
statistics.mean(list)

50

In [65]:
def minimal(v1, v2, v3, v4):
  min = v3
  if v1<min:
    min = v1
  elif v2< min:
    min = v2
  elif v4 < min:
    min = v4
  return min

In [69]:
minimal(-3, 9, 0, 14)

-3

In [70]:
list1 = ['Throw', 'the', 'ball']

In [71]:
list2 = ['at', 'him']

In [73]:
concatenated_list = list1 + list2
print(concatenated_list)

['Throw', 'the', 'ball', 'at', 'him']